<div id="dialogBuyerGroup" title="Buyer Group" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" style="width:20%;" nowrap>Buyer Group:</td>
                <td class="tdTitleAlignLeft"><input type="text" id="txtBUYER_GROUP_ID" value="" maxlength="50" style="width:100%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Name:</td>
                <td class="tdTitleAlignLeft"><input type="text" id="txtBUYER_GROUP_NAME" value="" maxlength="50" style="width:100%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Group:</td>
                <td class="tdTitleAlignLeft"><button id="btnGroup"></button></td>
            </tr>
        </table>
    </div>
</div>
