<div id="ReliabilityHistoryDialogData"  title="Portal Member" class="JQDialog" style="display:none;">

    <div style="margin-left:5px">
        <table id="ReliabilityHistorygridDataList"></table>
        <div id="ReliabilityFilegridListPager"></div>
    </div>


</div>
