
<div id="dialogDataDescVar" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDescToolBarDescVar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataDescVar"></button>
        <button id="btndialogCancelEditDescVar"></button>
    </div>
    <table>
        <tr id="attrInspDesc">
            <td class="FieldLabel">檢測說明:</td>
            <td>
                <input type="text" id="vtxtInspDesc" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">UCL:</td>
            <td>
                <input type="text" id="vtxtUCL" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">LCL:</td>
            <td>
                <input type="text" id="vtxtLCL" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">檢驗工具:</td>
            <td>
                <input type="text" id="vtxtInspTool" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">AQL:</td>
            <td>
                <input type="text" id="vtxtAQL" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr hidden="hidden">
            <td class="FieldLabel">檢測量:</td>
            <td>
                <input type="text" id="vtxtInspNum" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgDescVar"></span>
            </td>
        </tr>
    </table>
</div>