<div id="dialog_VMIProcess_UploadASNResult" title="Process Result" class="JQDialog" style="display:none">
    <div style="text-align:center">
        <span id="dialog_span_VMProcess_UploadASNResult_msg"></span>
        <span id="dialog_span_VMProcess_UploadASNResult_ASNNo" class="jqGridColumnDataAsLinkWithBlue"></span>
    </div>
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="25%">Total lines: </td>
                <td class="tdTitleAlignLeft spanFieldValueUnderLine" width="75%"><span id="dialog_span_VMIProcess_UploadASNResult_TotalLines"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Correct lines: </td>
                <td class="tdTitleAlignLeft spanFieldValueUnderLine" width="75%"><span id="dialog_span_VMIProcess_UploadASNResult_CorrectLines"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Error lines: </td>
                <td class="tdTitleAlignLeft spanFieldValueUnderLine" width="75%"><span id="dialog_span_VMIProcess_UploadASNResult_ErrorLines"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Error Log File Download: </td>
                <td class="tdTitleAlignLeft" width="75%">
                    <img src="~/Scripts/_Global/file.jpg" id ="dialog_span_VMIProcess_attachimg" style="width:20px;height:20px;">
                    <span id="dialog_span_VMIProcess_UploadASNResult_FilePath" class="jqGridColumnDataAsLinkWithBlue" path=""></span>
                </td>
            </tr>
        </table>
    </div>
</div>