<div id="dialog_VMIProcess_ASNSpecialCancelErrorResult" title="Error Result" class="JQDialog" style="display:none">
    <label style="color:red">Special Cancel 錯誤訊息如下</label>
    <div>
        <table id="VMI_Process_ASNSpecialCancelErrorResult_gridDataList"></table>
        <div id="VMI_Process_ASNSpecialCancelErrorResult_gridListPager"></div>
    </div>
</div>
