<div id="dialog_VMIProcess_ASNSpecialCancelManage" title="ASN Special Cancel" class="JQDialog" style="display:none">
    <div id="dialog_VMIProcess_ASNSpecialCancelManage_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:1120px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="dia_btn_VMIProcess_ASNSpecialCancelManage_Cancel"></button>
        <button id="dia_btn_VMIProcess_ASNSpecialCancelManage_CancelAll"></button>
    </div>
    <div style="width:1120px;">
        <table style="width:900px;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="15%">ASN No:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_ASNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="15%">ASN Created Date:</td>
                <td class="tdTitleAlignLeft" width="50%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_ASNCreatedDate" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="11%">Inbound DN No:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_InboundDNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="11%">Vendor</td>
                <td class="tdTitleAlignLeft" width="58%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_Vendor" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="11%">Customer Code:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_CustomerCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="11%">Vendor DN No</td>
                <td class="tdTitleAlignLeft" width="58%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_VendorDNNo" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="11%">Customer Name:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_CustomerName" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="11%">Invoice No:</td>
                <td class="tdTitleAlignLeft" width="58%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_InvoiceNo" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="11%">Plant Code:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_PlantCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="11%">Trade Type:</td>
                <td class="tdTitleAlignLeft" width="58%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_TradeType" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="11%">ETD:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_ETD" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="11%">ETA:</td>
                <td class="tdTitleAlignLeft" width="58%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_ETA" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="11%">Transfer Doc No:</td>
                <td class="tdTitleAlignLeft" width="20%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_TransferDocNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="11%">Vehicle Type & ID:</td>
                <td class="tdTitleAlignLeft" width="58%"><span id="dialog_span_VMIProcess_ASNSpecialCancelManage_VehicleTypeAndID" class="spanFieldValueUnderLine"></span></td>
            </tr>
        </table>
    </div>
    <div>
        <table id="VMI_Process_ASNSpecialCancelManage_gridDataList"></table>
        <div id="VMI_Process_ASNSpecialCancelManage_gridListPager"></div>
    </div>
</div>
