<div id="dialogDataBasicInfoType" title="Portal Menu" class="JQDialog" style="display:none;">
    <div id="dialogDataToolBarBasicInfoType" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataBasicInfoType"></button>
        <button id="btndialogCancelEditBasicInfoType"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel">調查表種類:</td>
            <td><select id="ddlVendorType" style="width:245px;"></select></td>
        </tr>
        <tr>
            <td class="FieldLabel">產品代碼:</td>
            <td>
                <select id="ddlCategory" style="width:245px;"></select>
                <br/>
                <select id="ddlCategorySub" style="width:245px;"></select>
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgBasicInfoType"></span>
            </td>
        </tr>
    </table>
</div>