<div id="dialogFunctionControllerActions" title="" class="JQDialog" style="display:none;">
    <div id="dialogDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogFCACreate"></button>
        <button id="btndialogFCAEdit"></button>
        <button id="btndialogFCADelete"></button>
        <button id="btndialogFCADeleteAll"></button>
    </div>
    <div>
        <table id="gridFunctionControllerActionList"></table>
        <div id="gridFunctionControllerActionListPager"></div>
    </div>
</div>

<div id="dialogFunctionControllerActionsItem" title="" class="JQDialog" style="display:none;">
    <table>
        <tr>
            <td class="FieldLabel">Controller:</td>
            <td>
                <input type="text" id="txtDiaFunctionControllerActionsItemController" class="DiaText" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">Action:</td>
            <td><input type="text" id="txtDiaFunctionControllerActionsItemAction" class="DiaText" /></td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaFCAErrMsg"></span>
            </td>
        </tr>
    </table>
</div>