<div id="dialogData" title="Portal Menu" class="JQDialog" style="display:none;">
    <table>
        <tr>
            <td class="FieldLabel">Title (en-US):</td>
            <td><input type="text" id="txtTitle_en_US" class="DiaText" maxlength="64" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">Title (zh-CN):</td>
            <td><input type="text" id="txtTitle_zh_CN" class="DiaText" maxlength="64" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">Title (zh-TW):</td>
            <td><input type="text" id="txtTitle_zh_TW" class="DiaText" maxlength="64" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">Intranet Href:</td>
            <td><input type="text" id="txtIntranetHref" class="DiaText" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">Internet Href:</td>
            <td><input type="text" id="txtInternetHref" class="DiaText" maxlength="255" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">Href Target:</td>
            <td>
                <input type="radio" name="DiaHrefTarget" id="radDiaHrefTargetSelf" value="_self" />_self
                <input type="radio" name="DiaHrefTarget" id="radDiaHrefTargetBlank" value="_blank" />_blank
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsg"></span>
            </td>
        </tr>
    </table>
</div>