@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Idle time too long .</h1>
<h2 class="text-danger">The session is expired while processing your request.</h2>