@*@{
    ViewBag.Title = "ChangePassword";
}*@

<form id="_ActivateForm" method="post">
    <table>
        <tr>
            <td class="FieldLabel">Current Password:</td>
            <td><input type="password" id="pwdPWD0" name="pwdPWD0" maxlength="50" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">New Password:</td>
            <td><input type="password" id="pwdPWD1" name="pwdPWD1" maxlength="50" /></td>
        </tr>
        <tr>
            <td class="FieldLabel">Confirm Password:</td>
            <td><input type="password" id="pwdPWD2" name="pwdPWD2" maxlength="50" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
    <span class="SuccessMsg">@Html.Raw(ViewBag.SuccessMsg)</span>
    <span class="ErrorMsg">@Html.Raw(ViewBag.ErrMsg)</span>
</form>