@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        <p>
            親愛的供應商您好，<br/><br/>
            為加強系統安全性，請即重新設定您的密碼．請在下方輸入此帳號登記的email郵箱，我們將把重設密碼的email連結郵寄給您，請透過電子郵件內的連結來操作．<br /><br />
            密碼強度規則:<br />
            1.密碼長度應超過(含)八個字元，至多二十個字元<br />
            2.密碼至少包含一個大寫字母、一個小寫字母與一個數字<br /><br />
            若有任何疑問請聯繫您對應的光寶採購或聯絡人. 謝謝您的配合
        </p>
        <p>
            Dear Supplier,<br/><br/>
            Due to enhance system security, please change your password to ensure account safety. Please fill-in your registered email address below, and click “Reset My Password”, we will send you an notification message to your email for last step.<br /><br/>
            Password strength rule:<br/>
            1. Password should contain at least 8 characters and maximum 20 characters.<br/>
            2. Password should contain at least one capital letter, at least one lower-case letter, and at least one number digit.<br/><br/>
            Please contact your LITE-ON buyer if any question, thank for your cooperation.
        </p>
        @if (ViewData["HideForm"].ToString() == "")
        {
            <form method="post">
                <table>
                    <tr>
                        <td class="FieldLabel">Email:</td>
                        <td><input type="text" name="txtPrimaryEmail" value="@ViewBag.txtPrimaryEmail" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Reset My Password" />
                        </td>
                    </tr>
                </table>
            </form>
        }
        @ViewBag.Message
    </div>
</body>
</html>
