<div id="dialogMaterialDoc" title="Material Doc" class="JQDialog" style="display:none">
    <div>
        <p><b>Material Doc</b></p>
        <p>Date:<label id="lbDate"></label></p>
        <p>Material:<label id="lbMaterial"></label></p>
        <p><textarea id="materialDocList" rows="20" cols="20" style="height: 200px"></textarea></p>
    </div>
</div>
