<div id="dialogQueryDailyInventory" title="View Daily Inventory" class="JQDialog" style="display:none">
    <div id="tbTopToolBarQueryDailyInventory" class="ui-widget-header ui-corner-all" style="width:99%; padding: 3px; display: none">
        <!-- top tool bar -->
        <button id="btnExportExcel"></button>
    </div>
    <table style="width: auto">
        <tr>
            <td class="tdTitleAlignRight">Plant:</td>
            <td id="tdPlant" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Cut Time:</td>
            <td id="tdCutTime" class="spanFieldValueUnderLine">24:00</td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Vendor Code:</td>
            <td id="tdVendorCode" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Vendor Name:</td>
            <td id="tdVendorName" class="spanFieldValueUnderLine"></td>
        </tr>
    </table>
    <table id="listDailyInventory"></table><div id="pagerlistDailyInventory"></div>
</div>