<div id="dialogDataA2" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDataAToolBarA2" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataA2"></button>
        <button id="btndialogCancelEditA2"></button>
    </div>
    <table>
        @*<tr>
            <td class="FieldLabel">供應商代碼(VCode):</td>
            <td>
                <input type="text" id="txtVendorCode" class="DiaText" maxlength="40" />
            </td>
        </tr>*@
        <tr></tr>
        <tr>
            <td class="FieldLabel">產品名稱:</td>
            <td>
                <input type="text" id="txtPrincipalProductsA2" class="DiaText" maxlength="40" /><span style="color:red;">"產品名稱需上下對應"</span>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td class="FieldLabel">工廠名稱:</td>
            <td>
                <input type="text" id="txtFactoryNameA2" class="DiaText" maxlength="40" /><span style="color:red;">"工廠名稱不能重複"</span>
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td class="FieldLabel">產品品牌:</td>
            <td>
                <input type="text" id="txtProductBrandA2" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td class="FieldLabel">工廠地址:</td>
            <td>
                <input type="text" id="txtFactoryAddressA2" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td class="FieldLabel">工廠人數:</td>
            <td>
                <input type="text" id="txtFactoryNumA2" class="DiaText" maxlength="40" /> <span style="color:red;">"請輸入數字"</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">建廠日期:</td>
            <td>
                <input type="text" id="txtFactoryDateA2" class="DiaText" maxlength="40" /><span style="color:red;">"2017-01-01"</span>
            </td>
        </tr>

        <tr>
        <tr>
            <td class="FieldLabel">產品系列:</td>
            <td>
                <input type="text" id="txtProductLineA2" class="DiaText" maxlength="40" />
            </td>
        </tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgA2"></span>
                
            </td>
        </tr>
    </table>
    
</div>