<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=10.1.16.504, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <Telerik.Reporting>
    <Extensions>
      <Render>
        <Extension name="IMAGE" visible="false">
        </Extension>
        <Extension name="MHTML" visible="false">
        </Extension>
        <Extension name="XLS" visible="false">
        </Extension>
        <Extension name="CSV" visible="false">
        </Extension>
        <Extension name="XPS" visible="false">
        </Extension>
        <Extension name="RTF" visible="false">
        </Extension>
        <Extension name="PDF" visible="true">
          <Parameters>
            <Parameter name="DocumentAuthor" value="LiteOn" />
            <Parameter name="ViewerPrintScaling" value="AppDefault" />
            <!--<Parameter name="ViewerPrintScaling" value="None"/>-->
            <!--<Parameter name="JavaScript" value="this.print({bUI: true, bSilent: false, bShrinkToFit: true});"/>
            <Parameter name="ViewerPrintScaling" value="AppDefault"/>-->
          </Parameters>
        </Extension>
      </Render>
    </Extensions>
  </Telerik.Reporting>
  <connectionStrings>
    <add name="MVCPortalDBConnString" connectionString="Data Source=dev266; Initial Catalog=LiteOnRFQTraining; Integrated Security=SSPI;" />
    <add name="MVCPortalReportConnString" connectionString="Data Source=dev266;Initial Catalog=LiteOnRFQTraining; Integrated Security=SSPI;" />
    <add name="SPMDBConnString" connectionString="Data Source=icm036; Initial Catalog=SPM; Integrated Security=SSPI;" />
    <add name="CZSPMDBConnString" connectionString="Data Source=UAT645; Initial Catalog=SPM; User Id=sa; Password=sa;" />
    <add name="CZSPMDBConnString2" connectionString="Data Source=icm667; Initial Catalog=SPM; User Id=ea_admin; Password=admin90=;" />
    <add name="MESConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)
(HOST=10.141.33.42) (PORT=1521)))(CONNECT_DATA=(SERVICE_NAME= sfcdb655)));
User Id=sajet; Password=tech" />
    <!--<add name="MVCPortalDBConnString" connectionString="Data Source=icm117; Initial Catalog=LiteOnRFQEB2006; Integrated Security=SSPI;" />
    <add name="MVCPortalReportConnString" connectionString="Data Source=icm117;Initial Catalog=LiteOnRFQEB2006; Integrated Security=SSPI;" />-->
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="IsTest" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Portal Framework Settings  -->
    <!-- EB authentication service  -->
    <add key="EBAccountService" value="http://dev145/liteonvmitraining/WebService/Authentication.asmx" />
    <!--<add key="EBAccountService" value="http://icm051/VMI/WebService/Authentication.asmx" />-->
    <!-- SitePurpose Text -->
    <!--<add key="SitePurpose" value="IT Dev. Site" />-->
    <!-- SitePurpose Text For UAT -->
    <!--<add key="SitePurpose" value="Training Site &lt;/br&gt;&lt;div style='font-size:16px;text-align:center;'&gt;2016.1107.1&lt;/div&gt;" />-->
    <!-- SitePurpose Text For PRD -->
    <add key="SitePurpose" value="&lt;div style='color:darkblue;font-size:16px;text-align:left;width:100px;padding-bottom:35px;'&gt;2016.08.21.1&lt;/div&gt;" />
    <!-- SAP Interface -->
    <add key="ServerIP" value="dev042" />
    <add key="ServerPort" value="8088" />
    <add key="BulletinAttatchments" value="C:\WebApps\VMIV2\Bulletin\Attachments\" />
    <add key="ExcuteReleaseLimit" value="5" />
    <add key="EnableExcuteLog" value="Y" />
    <add key="VendorAccountApplyFile" value="C:\VMI\VendorAccountApplyFile\" />
    <add key="BuyerAccountApplyFile" value="C:\VMI\BuyerAccountApplyFile\" />
    <add key="EnableStrongPW" value="true" />
    <add key="SiteInfo" value="&lt;a href=&quot;https://vmiv2training.liteon.com/&quot;target=&quot;_blank&quot;&gt;VMI&lt;/a&gt;" />
    <add key="EnableSendMail" value="N" />
    <add key="POFilePath" value="D:\\VMI\ePO\" />
    <add key="RestrictPOAckPLant" value="true" />
    <add key="ITMailAddress" value="kyle.fu@liteon.com" />
    <add key="MailAttachments" value="\\DEV281\MailAttachments\" />
    <add key="SiteUrl" value="https://vmiv2training.liteon.com/" />
    <add key="WebService_GMSLink" value="http://GMS021/axis/services/WormHoleWebService" />
    <add key="CCCLink" value="http://ccc.liteon.com/CCC/UploadCCC.aspx" />
    <add key="SendMailNotificationAddress" value="icm.erfq@liteon.com" />
    <add key="SendMailNotificationDisplayName" value="LITE-ON Supplier Portal" />
    <add key="SendMailNotificationSubject" value="LITE-ON Supplier Portal Account Activation" />
    <add key="SMTPServer" value="10.1.15.143" />
    <add key="WebService_SOSALink" value="http://dev145/Services.Token/TokenService.asmx" />
    <add key="SOSA_LoginPage" value="http://dev145/LiteOnSOSATraining/login/backendlogin.aspx" />
    <!-- QRCode Info Begin -->
    <add key="AuthPath" value="https://testliteonauthserver.azurewebsites.net/" />
    <add key="ResoPath" value="https://testliteonresoserver.azurewebsites.net/api/" />
    <add key="AppID" value="ces" />
    <add key="Secret" value="ces" />
    <add key="ProxyInfo" value="pxy001.liteon.com:3128" />
    <!-- QRCode Info End -->
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <remove extension=".lic" />
        <add extension=".lic" type="System.Web.Compilation.ForceCopyBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="30720" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
      <!--<forms loginUrl="~/Regist/Regist" timeout="2880" />-->
    </authentication>
    <identity impersonate="false" />
  </system.web>

  <location path="~/Regist/Regist">

    <system.web>

      <authorization>

        <allow users="*" />

      </authorization>

    </system.web>

  </location>
  <location path="~/SQM/Approve">

    <system.web>

      <authorization>

        <allow users="*" />

      </authorization>

    </system.web>

  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
