<script lang="javascript">
    var _SubFolderForAttachments = "@ViewBag.UploadFolderName" //for upload use
</script>

<div id="dialogQueryASNFileAttach" title="VMI Query File Info" class="JQDialog" style="display:none;">
    <div>
        <table class="defaultTable" border="1">
            <tr>
                <td class="tdTitleAlignRight" width="25%">Attach Files</td>
                <td class="tdTitleAlignLeft" width="90%" id="dialog_td_VMIProcess_Attach_Update">
                    <span id ="dialog_span_VMIQuery_ASNFileInfo_Download" class="jqGridColumnDataAsLinkWithBlue"></span>
                </td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%" height="50px">Remark</td>
                <td class="tdTitleAlignLeft" width="90%">
                    <textarea id="dialog_txt_VMIQuery_ASNFileInfo_Remark" rows="2" cols="25" maxlength="50" readonly="readonly"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>