<div id="dialog_VMIQuery_ModifyASNFileDetail" title="Query ASN Attach File" class="JQDialog" style="display:none">
    <div id="dialog_VMIQuery_ModifyASNFileDetail_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:450px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="dia_btn_VMIQuery_ModifyASNFileDetail_Add"></button>
        <button id="dia_btn_VMIQuery_ModifyASNFileDetail_Delete"></button>
        <button id="dia_btn_VMIQuery_ModifyASNFileDetail_ViewLogs"></button>
    </div>
    <div>
        <table id="VMI_Query_ModifyASNFileDetail_gridDataList"></table>
        <div id="VMI_Query_ModifyASNFileDetail_gridListPager"></div>
    </div>
</div>