<div id="dialog_VMIQuery_ASNFileViewLogs" title="ASN Attach File View Logs" class="JQDialog" style="display:none">
    <div>
        <table id="VMI_Query_ASNFileViewLogs_gridDataList"></table>
        <div id="VMI_Query_ASNFileViewLogs_gridListPager"></div>
    </div>
</div>