<div id="dialog_VMIQuery_QueryASNManage" title="Query ASN" class="JQDialog" style="display:none">
    <div id="dialog_VMIQuery_QueryASNManage_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:97%; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="dia_btn_VMIQuery_QueryASNManage_EditShipInfo"></button>
        <button id="dia_btn_VMIQuery_QueryASNManage_FileExport"></button>
        <button id="dia_btn_VMIQuery_QueryASNManage_ExcelExport"></button>
        <button id="dia_btn_VMIQuery_QueryASNManage_EditImportDate"></button>
        <button id="dia_btn_VMIQuery_QueryASNManage_PrintImportedNoticeForm"></button>
    </div>
    <div style="width:97%;">
        <table style="width:900px;" border="0">
            <tr>
                <td class="tdTitleAlignRight"></td>
                <td class="tdTitleAlignLeft"></td>
                <td class="tdTitleAlignRight" nowrap>Item Category:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_ItemCategory" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Incoterms:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_Incoterms" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Driver Name:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_DriverName" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>ASN No:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_ASNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>ASN Created Date:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_ASNCreatedDate" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Notice Buyer Code:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_BuyerCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Driver Phone:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_DriverPhone" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Inbound DN No:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_InboundDNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>Vendor:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_Vendor" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Forwarder Company Name:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_CompanyName" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Customs Broker:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_CustomsBroker" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Customer Code:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_CustomerCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>Vendor DN No:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_VendorDNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Forwarder Telephone:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_TEL" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Customer Name:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_CustomerName" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>Invoice No:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_InvoiceNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Forwarder Contact Person:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_Name" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Plant Code:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_PlantCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>Trade Type:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_TradeType" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Forwarder Email:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_Email" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>ETD:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_ETD" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>ETA:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_ETA" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Forwarder Address:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_Address" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Transfer Doc No:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_TransferDocNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" nowrap>Vehicle Type & ID:</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_VehicleTypeAndID" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Arrival Date:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_ArrivalDate" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Declaration Type(報關類型):</td>
                <td class="tdTitleAlignLeft"><span id="dialog_span_VMIQuery_QueryASNManage_DeclarationType" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight"></td>
                <td class="tdTitleAlignLeft"></td>
                <td class="tdTitleAlignRight tdImportedASN" nowrap>Plan Import Date:</td>
                <td class="tdTitleAlignLeft tdImportedASN"><span id="dialog_span_VMIQuery_QueryASNManage_PlanImportDate" class="spanFieldValueUnderLine"></span></td>
            </tr>
        </table>
    </div>
    <div>
        <table id="VMI_Query_QueryASNManage_gridDataList"></table>
        <div id="VMI_Query_QueryASNManage_gridListPager"></div>
    </div>
</div>
