<div id="dialog_QueryASN_EditShippingInfo" title="Edit Shipping Info" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="27%">ASN No:</td>
                <td class="tdTitleAlignLeft" width="23%"><span id="dialog_span_QueryASN_EditShippingInfo_ASNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">ASN Created Date:</td>
                <td class="tdTitleAlignLeft" width="28%"><span id="dialog_span_QueryASN_EditShippingInfo_CreatedDate" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="27%">Inbound DN No:</td>
                <td class="tdTitleAlignLeft" width="23%"><span id="dialog_span_QueryASN_EditShippingInfo_InboundDNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">Vendor:</td>
                <td class="tdTitleAlignLeft" width="28%"><span id="dialog_span_QueryASN_EditShippingInfo_Vendor" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="27%">Customer Code:</td>
                <td class="tdTitleAlignLeft" width="23%"><span id="dialog_span_QueryASN_EditShippingInfo_CustomerCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">Vendor DN No:</td>
                <td class="tdTitleAlignLeft" width="28%"><span id="dialog_span_QueryASN_EditShippingInfo_VendorDNNo" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="27%">Customer Name:</td>
                <td class="tdTitleAlignLeft" width="23%"><span id="dialog_span_QueryASN_EditShippingInfo_CustomerName" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">Invoice No:</td>
                <td class="tdTitleAlignLeft" width="28%"><span id="dialog_span_QueryASN_EditShippingInfo_InvoiceNo" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="27%">Plant Code:</td>
                <td class="tdTitleAlignLeft" width="23%"><span id="dialog_span_QueryASN_EditShippingInfo_PlantCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">Trade Type:</td>
                <td class="tdTitleAlignLeft" width="28%"><span id="dialog_span_QueryASN_EditShippingInfo_TradeType" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="28%">ETD:</td>
                <td width="180px"><span id="span_dpQueryASN_ETDDate" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">ETA:</td>
                <td width="180px">
                    <input type="text" name="Date2" id="dpQueryASN_ETADate" style="width:85px" />
                    <input type="text" id="dialog_txt_QueryASN_EditShippingInfo_ETATime" value="" maxlength="5" style="width:45px">
                </td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="27%">Transfer Doc No:</td>
                <td class="tdTitleAlignLeft" width="23%"><span id="dialog_span_QueryASN_EditShippingInfo_TransferDocNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="22%">Vehicle Type & ID:</td>
                <td class="tdTitleAlignLeft" width="25%"><input type="text" id="dialog_txt_QueryASN_EditShippingInfo_VehicleTypeAndID" value="" maxlength="15" style="width:100%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="27%">Driver Name:</td>
                <td class="tdTitleAlignLeft" width="23%"><input type="text" id="dialog_txt_QueryASN_EditShippingInfo_DriverName" value="" maxlength="15" style="width:100%"></td>
                <td class="tdTitleAlignRight" width="22%">Driver Phone:</td>
                <td class="tdTitleAlignLeft" width="28%"><input type="text" id="dialog_txt_QueryASN_EditShippingInfo_DriverPhone" value="" maxlength="15" style="width:100%"></td>
            </tr>
           
        </table>
    </div>
    <div>
        <br />
        <span id="dialog_span_QueryASN_EditShippingInfo_msg" class="spanTextWithColorRed">Please click 'Submit' button before leaving if the data have modified.*</span>
    </div>
</div>