<div id="dialog_VMIQuery_EditImportDate" title="Edit Import Date" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="50%" style="vertical-align: top;">Arrival Date:</td>
                <td class="tdTitleAlignLeft" width="50%">
                    <input type="text" id="ARRIVAL_DATE" class="tdQueryTextBox" tabindex="-1" />
                </td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" style="vertical-align: top;">Plan Import Date:</td>
                <td class="tdTitleAlignLeft">
                    <input type="text" id="PLAN_IMPORT_DATE" class="tdQueryTextBox" tabindex="-1" />
                </td>
            </tr>
        </table>
    </div>
</div>

