<div id="dialog_VMIQuery_QueryASNDetailError" title="Query ASN Detail" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="25%">NO:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_ASNNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Status:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_Status" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Log.Handling Grp.:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_LogHandingGroup" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Material No:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_MaterialNo" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Custom Desc.:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_CustomDesc" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Description:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_Description" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Custom Grouping No:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_CustomGroupNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%"></td>
                <td class="tdTitleAlignLeft" width="25%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">PO/SA No:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_POSANO" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">PO Line:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_POLine" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">UOM:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_UOM" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">ASN Qty:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_ASNQty" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Packing Detail:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_PackingDetail" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Unit Net Wgt(G):</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_UnitNetWeight" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Vendor Material No:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_VendorMaterialNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Customs Appr Sheet No:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_CustomesSeal" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Prod. Line No:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_ProdLineNo" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%"></td>
                <td class="tdTitleAlignLeft" width="25%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">T.Packing:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_TPacking" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">T.Net Wgt(KG):</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_TNetWeight" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">T.Gross Wgt(KG):</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_TGrossWeight" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Packing Type:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_PackingType" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">Cnty. Code Of Origin:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_OriginCountryCode" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">Cnty. Of Origin:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_OriginCountry" class="spanFieldValueUnderLine"></span></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="25%">HAWB:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_HAWB" class="spanFieldValueUnderLine"></span></td>
                <td class="tdTitleAlignRight" width="25%">MAWB:</td>
                <td class="tdTitleAlignLeft" width="25%"><span id="dialog_span_VMIQuery_QueryASNDetailError_MAWB" class="spanFieldValueUnderLine"></span></td>
            </tr>
        </table>
    </div>
    <div>
        <br />
        <span id="dialog_span_VMIQuery_QueryASNDetailError_Title" class="spanTextWithColorRed">Error Message :</span>
        <br />
        <span id="dialog_span_VMIQuery_QueryASNDetailError_msg"></span>
    </div>
</div>