<div id="dialog_VMIQuery_ASNFileInfo" title="Query ASN Attach Info" class="JQDialog" style="display:none">
    <div id="dialog_VMIQuery_ASNFileInfo_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:450px; padding:3px 15px 3px 15px; font-size:10.5px;">
        <button id="dia_btn_VMIQuery_ASNFileInfo_ViewLogs"></button>
    </div>
    <div>
        <table id="VMI_Query_ASNFileDetail_gridDataList"></table>
        <div id="VMI_Query_ASNFileDetail_gridListPager"></div>
    </div>
</div>