<div id="dialogAPCheckStatementResult" title="Consignment GI Detail Result" class="JQDialog" style="display:none">
    <table class="defaultTable">
        <tr>
            <td style="text-align: right; width:25%">Process Time:</td>
            <td style="width:25%" id="tdProcessTime" class="spanFieldValueUnderLine"></td>
            <td style="text-align: right; width:25%"></td>
            <td style="width:25%"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Vendor(FM):</td>
            <td id="tdFromVendorCode" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Vendor(TO):</td>
            <td id="tdToVendorCode" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Company Code(FM):</td>
            <td id="tdFromCompanyCode" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Company Code(TO):</td>
            <td id="tdToCompanyCode" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Plant(FM):</td>
            <td id="tdFromPlant" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Plant(TO):</td>
            <td id="tdToPlant" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Material(FM):</td>
            <td id="tdFromMaterial" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Material(TO):</td>
            <td id="tdToMaterial" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Description:</td>
            <td id="tdDescription" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight"></td>
            <td></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Post Date(FM):</td>
            <td id="tdFromPostDate" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">Post Date(TO):</td>
            <td id="tdToPostDate" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">GR Slip(FM):</td>
            <td id="tdFromGRSlip" class="spanFieldValueUnderLine"></td>
            <td class="tdTitleAlignRight">GR Slip(TO):</td>
            <td id="tdToGRSlip" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td style="vertical-align: top; text-align:right">Consignment GI Detail Files</td>
            <td colspan="3"><div id="tdFiles" style="height:200px; overflow:auto;"></div></td>
        </tr>
    </table>
</div>
