
<div id="dialogDataCode" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDataToolBarCode" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataCode"></button>
        <button id="btndialogCancelEditCode"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel">檢測項目InspCode:</td>
            <td>
                <input type="text" id="txtInspCode" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgCode"></span>
            </td>
        </tr>
    </table>
</div>