<div id="dialogRefAndDownload" title="Reference and Downloads" class="JQDialog" style="display:none">
    <table>
        <tr>
            <td class="tdTitleAlignRight" style="width:15%">Category:</td>
            <td id="tdCategory" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight" style="width:15%">Publish Date:</td>
            <td id="tdPublishDate" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight" style="width:15%">Subject:</td>
            <td id="tdSubject" class="spanFieldValueUnderLine"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #d3d3d3; padding:5px;">
                <div id="tdBodyText" style="height:350px;overflow:auto;"></div>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight" style="width:15%">Attachments:</td>
        </tr>
        <tr>
            <td colspan="2" id="tdAttachments"></td>
        </tr>
    </table>
</div>
