<div id="dialog_Modify_CustomerCode" title="Customer Code Info" class="JQDialog" style="display:none">
    @*Display Selected Item Info*@
    <div>
        <table style="width:100%;" border="1">
            <tr>
                <td class="tdTitleAlignRight" width="30%">PLANT</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_CustomerCode_PLANT" value="" maxlength="4" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Customer Code</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_CustomerCode_CUSTOMERCODE" value="" maxlength="50" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Customer Name</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_CustomerCode_CUSTOMERNAME" value="" maxlength="50" style="width:95%"></td>
            </tr>
        </table>
    </div>
</div>
