<div id="dialog_Modify_Forwarder" title="Forwarder Info" class="JQDialog" style="display:none">
    @*Display Selected Item Info*@
    <div>
        <table style="width:100%;" border="1">
            <tr>
                <td class="tdTitleAlignRight" width="30%">Company Name</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_Forwarder_COMPANY_NAME" value="" maxlength="200" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Telephone</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_Forwarder_TEL" value="" maxlength="50" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Contact Person</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_Forwarder_NAME" value="" maxlength="50" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Email</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_Forwarder_EMAIL" value="" maxlength="200" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Address</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_Forwarder_ADDRESS" value="" maxlength="200" style="width:95%"></td>
            </tr>
        </table>
    </div>
</div>
