<div id="dialog_Modify_ShipFrom" title="Ship From Info" class="JQDialog" style="display:none">
    @*Display Selected Item Info*@
    <div>
        <table style="width:100%;" border="1">
            <tr>
                <td class="tdTitleAlignRight" width="30%">Plant Short Name</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_ShipFrom_PLANTSHORTNAME" value="" maxlength="6" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Official Name</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_ShipFrom_OFFICIALNAME" value="" maxlength="50" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Address</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_ShipFrom_ADDRESS" value="" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Telphone</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_ShipFrom_Telphone" value="" maxlength="20" style="width:95%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" width="30%">Fax</td>
                <td class="tdTitleAlignLeft" width="70%"><input type="text" id="dialog_txt_Modify_ShipFrom_FAX" value="" maxlength="20" style="width:95%"></td>
            </tr>
        </table>
    </div>
</div>
