<div id="dialogVendorAccountInfo" title="Vendor Account Information" class="JQDialog" style="display:none">
    <table id="tbQuery" style="display:none;">
        <tr>
            <td class="tdTitleAlignRight">E-mail:</td>
            <td>
                <label id="lblCurrentEmail" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
    </table>
    <table id="tbChange" style="display:none;">
        <tr>
            <td class="tdTitleAlignRight"><span style="color:red">*</span>E-mail:</td>
            <td>
                <input type="text" id="txtNewEmail" class="tdQueryTextBox" style="width:288px;" />
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight"><span style="color:red">*</span>Reason:</td>
            <td>
                <textarea id="taReason" rows="4" cols="50"></textarea>
            </td>
        </tr>
    </table>
    <table id="tbApplyInfo" style="display:none;">
        <tr>
            <td class="tdTitleAlignRight">Applicant:</td>
            <td>
                <label id="lblApplicant" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Account:</td>
            <td>
                <label id="lblAccount" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Name:</td>
            <td>
                <label id="lblName" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Company Name:</td>
            <td>
                <label id="lblCompanyName" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">QQ:</td>
            <td>
                <label id="lblQQ" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Last Log in date:</td>
            <td>
                <label id="lblLastLoginDate" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Last password change date:</td>
            <td>
                <label id="lblLastPasswordChangeDate" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Account lock up:</td>
            <td>
                <input type="checkbox" id="cbAccountLockUp" />
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Current E-mail:</td>
            <td>
                <label id="lblApplyInfoCurrentEmail" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">New E-mail:</td>
            <td>
                <input type="text" id="txtApplyInfoNewEmail" class="tdQueryTextBox" style="width: 286px;" />
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Reason:</td>
            <td>
                <textarea id="taApplyInfoReason" rows="3" cols="50" disabled></textarea>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Application Date:</td>
            <td>
                <label id="lblApplicationDate" class="spanFieldValueUnderLine"></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight">Reject Reason:</td>
            <td>
                <textarea id="taRejectReason" rows="3" cols="50"></textarea>
            </td>
        </tr>
    </table>
</div>
