<div id="dialogDownloadSplash" title="Download Notify" class="JQDialog" style="display:none">
    <div id="lbDiaDownloadMsg" style="text-align:center"></div>
    <form method="post" id="dialogDownloadSplash_Form">
        <input type="hidden" id="dialogDownloadSplash_FileKey" name="FileKey">
        <input type="hidden" id="dialogDownloadSplash_FileName" name="FileName">
    </form>
</div>