<div id="dialog_VMI_QueryCorpVendor" title="Corp. Vendor Info" class="JQDialog" style="display:none">
    @*Menu Function Button For the View Use Base On JQuery Tool*@
    <div id="dialog_Corp_VDN_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:550px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="dialog_btn_diaCorpVendor_Search"></button>
    </div>

    @*Display Selected Item Info*@
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="5%">Corp.Vendor Code</td>
                <td class="tdTitleAlignLeft" width="15%"><input type="text" id="dialog_VMI_txt_Corp_VDN" value="" maxlength="10" style="width:100px"></td>
            </tr>
        </table>
    </div>

    <div>
        <table id="dialog_VMI_CorpVendor_gridDataList"></table>
        <div id="dialog_VMI_CorpVendor_gridDataPager"></div>
    </div>
</div>

