<div id="dialogSQMHRData" title="Portal Member" class="JQDialog" style="display:none;">
    <div id="dialogSQMHRDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogSQMHREditData"></button>
        <button id="btndialogSQMHRCancelEdit"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel">公司人力资源</td>
            <td>
                <select id="ddlSQMHRCName" style="width:97%;max-width:97%;"></select>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">实际员工人数</td>
            <td>
                <input type="text" id="txtEmployeeQty" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">编制人数</td>
            <td>
                <input type="text" id="txtEmployeePlanned" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">平均工作年资</td>
            <td>
                <input type="text" id="txtAverageJobSeniority" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaHRErrMsg"></span>
            </td>
        </tr>
    </table>
</div>

