<div id="dialogDataPVL" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDataAToolBarPVL" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataPVL"></button>
        <button id="btndialogCancelEditPVL"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel"> 是否選擇此供應商:</td>
            <td>
                @*<input type="radio" id="IsChoose" maxlength="40" name="A" value="1" />Yes
                <input type="radio" id="IsChoose" maxlength="40" name="A" value="0" />No*@
            </td>
        </tr>

        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgA"></span>
            </td>
        </tr>
    </table>
</div>