
@Scripts.Render("~/bundles/SQMBasic/SQEContact/Info")

@RenderPage("SQEContactInfoDialog.cshtml")

<div id="ContactInfo">

    <div id="SQEContacttbMain1" class="ui-widget-header ui-corner-all" style="width:570px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="btnBack"></button>
        @*<button id="btnSQEContactCreate"></button>*@
        @*<button id="btnSQEContactViewEdit"></button>*@
        @*<button id="btnSQEContactDelete"></button>*@
    </div>


    <table id="SearchReliInfo" style="width:500px; padding:3px 15px 3px 15px; font-size:12px;border-right: 1px solid #aaaaaa;border-left: 1px solid #aaaaaa;">
        <tr>
            <td>
                <span>名稱:</span>
                <input type="text" id="txtFilterText" value="" />
                <button id="btnSQEContactSearch"></button>
            </td>
        </tr>
        <tr>
            <td>
            <span>Vendor:</span>
            <span id="spVendor" class="spTypeItems"></span></td>
        </tr>
    </table>

    <div style="margin-left:5px">
        <table id="SQEContactgridDataList"></table>
        <div id="SQEContactgridListPager"></div>
    </div>
</div>

