@Scripts.Render("~/bundles/SQEBasic/SQEReliability")

@RenderPage("SQEReliability/SQEReliabilityMapDialog.cshtml")
@RenderPage("SQEReliability/SQEReliabilityDialog.cshtml")
@RenderPage("SQEReliability/SQEReliabilityInfo.cshtml")
@RenderPage("SQEReliability/SQMReliabilityHistoryDialog.cshtml")

<div id="Reliability">
    <div id="ReliabilitytbMain1" class="ui-widget-header ui-corner-all" style="width:570px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="btnCombSearch"></button>
        @*<button id="btnReliabilitySearch"></button>*@
        @*<button id="btnReliabilityCreate"></button>*@
        @*<button id="btnReliabilityViewEdit"></button>*@
        @*<button id="btnReliabilityDelete"></button>*@
        @*<button id="btnReliInfoCreate"></button>*@
        <button id="btnShowReliability"></button>
        @*<button id="btnUploadInfo"></button>*@
        @*<button id="btnCommitReliability"></button>*@
    </div>

    <table style="width:500px; padding:3px 15px 3px 15px; font-size:12px;border-right: 1px solid #aaaaaa;border-left: 1px solid #aaaaaa;">
        <tr>
            @*<td>
                    <span>ERP_VNAME：</span><input type="text" id="txtERPFilterText" value="" />
                </td>*@
            <td>
                <span>PlantCode:</span>
                <select id="ddlPlant" style="width:204px;"></select>
            </td>
        </tr>
    </table>

    <div>
        <table id="ReliabilitygridDataList"></table>
        <div id="ReliabilitygridListPager"></div>
    </div>


</div>
