<div id="dialog_VMI_QueryCorpMemberGUID1" title="Corp. MemberGUID Info" class="JQDialog" style="display:none">
    @*Menu Function Button For the View Use Base On JQuery Tool*@
    <div id="dialog_Corp_VDN_MGTopToolBar1" class="ui-widget-header ui-corner-all" style="width:550px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="dialog_btn_diaCorpMemberGUID_Search1"></button>
    </div>

    @*Display Selected Item Info*@
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="5%">Corp.MemberName Info</td>
                <td class="tdTitleAlignLeft" width="15%"><input type="text" id="dialog_VMI_txt_Corp_MG1" value=""  style="width:100px"></td>
            </tr>
        </table>
    </div>

    <div>
        <table id="dialog_VMI_CorpMemberGUID_gridDataList1"></table>
        <div id="dialog_VMI_CorpMemberGUID_gridDataPager1"></div>
    </div>
</div>

