
<div id="dialogDataCPKData" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDataToolBarCPKData" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataCPKData"></button>
        <button id="btndialogCancelEditCPKData"></button>
    </div>
    <table>
        <tr>
            <td>
                <span>測量數據(pcs)剩餘個數:</span>
                <span id="spCTQNum"></span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">產品CTQ:</td>
            <td>
                <input type="number" id="txtCTQ" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgCPKData"></span>
            </td>
        </tr>
    </table>
</div>
