<div id="dialog_VMIProcess_ToDoASNFileViewLogs" title="To Do ASN Attach File View Logs" class="JQDialog" style="display:none">
    <div>
        <table id="VMI_Process_ToDoASNFileViewLogs_gridDataList"></table>
        <div id="VMI_Process_ToDoASNFileViewLogs_gridListPager"></div>
    </div>
</div>