<div id="dialog_VMIProcess_ToDoASNContractCode" title="To Do ASN Customs Seal" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="25%">Customs Seal:</td>
                <td class="tdTitleAlignLeft" width="25%">      
                    <select id="dialog_dropbox_VMIProcess_ToDoASNContractCode_CustomesSeal"></select>
                </td>        
            </tr>  
        </table>
    </div>
</div>