<div id="dialog_VMIProcess_ToDoASNImportDetailShowASNQty" title="To Do ASN ImportDetail Information" class="JQDialog" style="display:none">
    <div>
        <table id="VMI_Process_ToDoASNImportDetailShowASNQty_gridDataList"></table>
        <div id="VMI_Process_ToDoASNImportDetailShowASNQty_gridListPager"></div>
    </div>
</div>