<div id="dialog_VMIProcess_ToDoASNFileDetail" title="To Do ASN Attach File" class="JQDialog" style="display:none">
    <div id="dialog_VMIProcess_ToDoASNFileDetail_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:450px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="dia_btn_VMIProcess_ToDoASNFileDetail_Add"></button>
        <button id="dia_btn_VMIProcess_ToDoASNFileDetail_Delete"></button>
        <button id="dia_btn_VMIProcess_ToDoASNFileDetail_ViewLogs"></button>
    </div>
    <div>
        <table id="VMI_Process_ToDoASNFileDetail_gridDataList"></table>
        <div id="VMI_Process_ToDoASNFileDetail_gridListPager"></div>
    </div>
</div>