<div id="dialog_VMIProcess_ToDoASNOverOpenPOQtyError" title="Release Error Message" class="JQDialog" style="display:none">
    <div>
        <table id="VMI_Process_ToDoASNOverOpenPOQtyError_gridDataList"></table>
        <div id="VMI_Process_ToDoASNOverOpenPOQtyError_gridListPager"></div>
    </div>
</div>