<div id="dialog_VMIProcess_ToDoASNImportDetail" title="To Do ASN ImportDetail" class="JQDialog" style="display:none">
    <div id="VMIProcess_ToDoASNImportDetail_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:97%; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="btn_VMIProcess_ToDoASNImportDetail_Query"></button>
        <button id="btn_VMIProcess_ToDoASNImportDetail_AdvanceQuery"></button>
        <input type="radio" name="ImportDetail_QueryType" value="V">VDS Only
        <input type="radio" name="ImportDetail_QueryType" value="A">All Open PO
        <input type="radio" name="ImportDetail_QueryType" value="M">By Material
        <input type="text" id="txt_VMIProcess_ToDoASNImportDetail_Material" class="tdQueryTextBox" value="" style="width:300px">
    </div>

    <div>
        <table id="VMI_Process_ToDoASNImportDetail_gridDataList"></table>
        <div id="VMI_Process_ToDoASNImportDetail_gridListPager"></div>
    </div>
</div>

