<div id="dialog_VMIProcess_ToDoASNImportedReject" title="Reject Reason" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" width="30%" style="vertical-align: top;">Reason</td>
                <td class="tdTitleAlignLeft" width="70%">
                    <textarea id="REJECT_REASON" maxlength="500" rows="5" cols="30"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>

