<div id="InfodialogData" title="Portal Member" class="JQDialog" style="display:none;">

    <table>
        <button id="btnCommit"></button>
            <tr>
                <td colspan="2">廠商名稱:</td>
                <td colspan="4">
                    <label id="lblFactoryName"></label>
                </td>
                <td colspan="2">材料名稱:</td>
                <td colspan="4">
                    <label id="lblCNAME"></label>
                </td>
            </tr>
            <tr>
                <td colspan="2">工廠地址:</td>
                <td colspan="4"> <label id="lblFactoryAddress"></label></td>
                <td colspan="2">電話/傳真:</td>
                <td colspan="4"> <label id="lblPHONE"></label></td>
            </tr>
            <tr>
                <td colspan="2">評鑒日期:</td>
                <td>QSA:</td>
                <td>   <label id="lblQSADateCriticism"></label>            </td>
                <td>QPA:</td>
                <td>    <label id="lblQPADateCriticism"></label>            </td>
                <td colspan="2">評鑒等級:</td>
              
                <td>QSA:</td>
                <td>  <label id="lblQSAScore"></label>               </td>
                <td>QPA:</td>
                <td>  <label id="lblQPAScore"></label>             </td>
            </tr>
            <tr>
                <td colspan="2">評鑒人員:</td>
                <td>QSA:</td>
                <td colspan="4">  <label id="lblQSAEvaluation"></label>               </td>
                <td>QPA:</td>
                <td colspan="4">  <label id="lblQPAEvaluation"></label>             </td>
            </tr>
        </table>
    <div>
        <table id="InfogridDataList"></table>
        <div id="InfogridListPager"></div>
    </div>
</div>