<div id="dialogDataP" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDataPToolBarP" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataP"></button>
        <button id="btndialogCancelEditP"></button>
    </div>
    <table>
        @*<tr>
            <td class="FieldLabel">供應商代碼(VCode):</td>
            <td>
                <input type="text" id="txtVendorCode" class="DiaText" maxlength="40" />
            </td>
        </tr>*@
        <tr></tr>
        <tr>
            <td class="FieldLabel">主要產品 (Principal Products):</td>
            <td>
                <input type="text" id="txtPrincipalProductsP" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td class="FieldLabel">占營業份額 百分比% (% of Revenue):</td>
            <td>
                <input type="text" id="txtRevenuePerP" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td class="FieldLabel">MOQ（Minimum Order Quantity ）:</td>
            <td>
                <input type="text" id="txtMOQP" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td class="FieldLabel">最快提供样品时间（天数):</td>
            <td>
                <input type="text" id="txtSampleTimeP" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel" style="padding-left:10px">L/T（Lead Time）（天数）:</td>
            <td>
                <input type="text" id="txtLeadTimeP" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
        <tr>
            <td class="FieldLabel">年产能:</td>
            <td>
                <input type="text" id="txtAnnualCapacityP" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">主要竞争对手公司名称(The name of Major competitor):</td>
            <td>
                <input type="text" id="txtMajorCompetitorP" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">产能空间(%):</td>
            <td>
                <input type="text" id="txtAnnualCapacitySpan" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgP"></span>
            </td>
        </tr>
    </table>
</div>