<div id="SQMEquipmentdialogData" title="Portal Member" class="JQDialog" style="display:none;">
    <div id="SQMEquipmentdialogDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btnSQMEquipmentdialogEditData"></button>
        <button id="btnSQMEquipmentdialogCancelEdit"></button>
    </div>
    <table>
        @*<tr>
            <td class="FieldLabel">供应商代码:</td>
            <td>
                <input type="text" id="txtVendorCode" class="DiaText" maxlength="40"  />
            </td>
        </tr>*@
        <tr id="EquipmentType">
            <td class="FieldLabel">設備類別:</td>
            <td colspan="3">
                <select id="ddlEquipmentTypeD"></select>
                <select id="ddlEquipmentSpecialTypeD"></select>
            </td>
        </tr>
        <tr id="DeviceName">
            <td class="FieldLabel">設備名稱:</td>
            <td>
                <input type="text" id="txtDeviceName" class="DiaText" maxlength="40"  /><span style="color:red">*</span>
            </td>
        </tr>
        <tr id="DeviceQuantity">
            <td class="FieldLabel">設備數量:</td>
            <td>
                <input type="text" id="txtDeviceQuantity" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr id="DeviceArea">
            <td class="FieldLabel">主要產地:</td>
            <td>
                <input type="text" id="txtDeviceArea" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="DeviceCapacity">
            <td class="FieldLabel">加工能力:</td>
            <td>
                <input type="text" id="txtDeviceCapacity" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="DevicePrecision">
            <td class="FieldLabel">設備加工精度:</td>
            <td>
                <input type="text" id="txtDevicePrecision" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="TestItem">
            <td class="FieldLabel">設備可檢測哪些專案:</td>
            <td>
                <input type="text" id="txtTestItem" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="DatePurchased">
            <td class="FieldLabel">設備購買日期:</td>
            <td>
                <input type="text" id="txtDatePurchased" class="tdQueryTextBox" maxlength="40"/>
            </td>
        </tr>
        <tr id="DateMade">
            <td class="FieldLabel">製造日期:</td>
            <td>
                <input type="text" id="txtDateMade" class="tdQueryTextBox" maxlength="40" />
            </td>
        </tr>
        <tr id="Model">
            <td class="FieldLabel">機型\線型:</td>
            <td>
                <input type="text" id="txtModel" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="Brand">
            <td class="FieldLabel">品牌:</td>
            <td>
                <input type="text" id="txtBrand" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="Weight">
            <td class="FieldLabel">噸位:</td>
            <td>
                <input type="text" id="txtWeight" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="ModelSize">
            <td class="FieldLabel">容模尺寸:</td>
            <td>
                <input type="text" id="txtModelSize" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="LineLength">
            <td class="FieldLabel">線體長度:</td>
            <td>
                <input type="text" id="txtLineLength" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="GunQty">
            <td class="FieldLabel">槍頭數量:</td>
            <td>
                <input type="text" id="txtGunQty" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="RoastQty">
            <td class="FieldLabel">烤箱數量:</td>
            <td>
                <input type="text" id="txtRoastQty" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="PlatingType">
            <td class="FieldLabel">电镀层种类:</td>
            <td>
                <input type="text" id="txtPlatingType" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="Anodized">
            <td class="FieldLabel">可以陽極氧化的種類:</td>
            <td>
                <input type="text" id="txtAnodized" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="SprayingType">
            <td class="FieldLabel">粉体\液体喷涂:</td>
            <td>
                <input type="text" id="txtSprayingType" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="PlatingCapacity">
            <td class="FieldLabel">鍍槽容量:</td>
            <td>
                <input type="text" id="txtPlatingCapacity" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="SQMEquipmentErrorMsg">
            <td class="ErrorMsg" colspan="2">
                <span id="SQMEquipmentlblDiaErrMsg"></span>
            </td>
        </tr>
    </table>
</div>