<div id="dialogMemberRoles" title="" class="JQDialog" style="display:none;">
    <div>
        <table id="gridMemberRoleList"></table>
        <div id="gridMemberRoleListPager"></div>
    </div>
</div>