<div id="dialogDataMap" title="Portal Member" class="JQDialog" style="display:none;width:800px;">
    <div id="dialogDataToolBarMap" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditDataMap"></button>
        <button id="btndialogCancelEditMap"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel">樣本數:</td>
            <td>
                <input type="text" id="txtAQLNum" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">抽樣等級:</td>
            <td>
                <select id="txtAQLType" style="width:204px;">
                    <option value="0">正常</option>
                    <option value="1">加嚴</option>
                    <option value="2">減量</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">抽樣數:</td>
            <td>
                <input type="text" id="txtAQL" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">Critical數量:</td>
            <td>
                <input type="text" id="txtCR" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">Major數量:</td>
            <td>
                <input type="text" id="txtMA" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">Minor數量:</td>
            <td>
                <input type="text" id="txtMI" class="DiaText" maxlength="40" /><span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsgMap"></span>
            </td>
        </tr>
    </table>
</div>