<div id="dialogPlantCustomsBrokerInfo" title="Plant Customs Broker Info" class="JQDialog" style="display:none">
    <div>
        <table style="width:100%;" border="0">
            <tr>
                <td class="tdTitleAlignRight" style="width:20%;" nowrap>Plant:</td>
                <td class="tdTitleAlignLeft"><input type="text" id="txtPlant" value="" maxlength="4" style="width:100%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Name:</td>
                <td class="tdTitleAlignLeft"><input type="text" id="txtName" value="" maxlength="50" style="width:100%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Address:</td>
                <td class="tdTitleAlignLeft"><input type="text" id="txtAddr" value="" maxlength="200" style="width:100%"></td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight" nowrap>Telephone:</td>
                <td class="tdTitleAlignLeft"><input type="text" id="txtTel" value="" maxlength="60" style="width:100%"></td>
            </tr>
        </table>
    </div>
</div>
