<div id="MapdialogData" title="Portal Member" class="JQDialog" style="display:none;">
    <div id="MapdialogDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btnMapdialogEditData"></button>
        <button id="btnMapdialogCancelEdit"></button>
    </div>
    <table>
       
        <tr>
            <td class="FieldLabel">姓名:</td>
            <td>
                <input type="text" id="txtName" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">邮箱:</td>
            <td>
                <input type="text" id="txtEmail" class="DiaText" maxlength="40" />
            </td>
        </tr>
      
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="MaplblDiaErrMsg"></span>
            </td>
        </tr>
    </table>
</div>