@Scripts.Render("~/bundles/VMIShare")
@Scripts.Render("~/bundles/VMIQuery/ASNReport")

@RenderPage("~/Views/VMIShare/dialogQuerySBUVendor.cshtml")
@RenderPage("~/Views/VMIShare/dialogQueryPlant.cshtml")


<div id="VMIQuery_ASNReport_tbTopToolBar">
    <table class="ui-widget-header ui-corner-all" style="width:852px; padding:3px 15px 3px 15px; font-size:10.5px;">
        <tr>
            <td colspan="4">
                <button id="btn_VMIQuery_ASNReport_Query"></button>
                <button id="btn_VMIQuery_ASNReport_Print"></button>
                <button id="btn_VMIQuery_ASNReport_PrintBarCode"></button>
            </td>
        </tr>
    </table>
    <div style="width:851px;padding:3px 0; border-right: 1px solid #aaaaaa;">
        <table style="width:500px;">
            <tr>
                <td class="tdTitleAlignRight">ASN No(FM):</td>
                <td>
                    <input type="text" class="jqTextUpperCase tdQueryTextBox" id="txt_VMIQuery_ASNReport_ASNNoFM" value="" maxlength="10">
                </td>
                <td class="tdTitleAlignRight">ASN No(TO):</td>
                <td>
                    <input type="text" class="jqTextUpperCase tdQueryTextBox" id="txt_VMIQuery_ASNReport_ASNNoTO" value="" maxlength="10">
                </td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight">Plant:</td>
                <td>
                    <input type="text" class="jqTextUpperCase tdQueryTextBox" id="txt_VMIQuery_ASNReport_Plant" value="" maxlength="4">
                    <button id="btn_VMIQuery_ASNReport_Plant_Query" class="tdQueryButton"></button>
                </td>
                <td class="tdTitleAlignRight">Vendor:</td>
                <td>
                    <input type="text" class="jqTextUpperCase tdQueryTextBox" id="txt_VMIQuery_ASNReport_SBU_VDN" value="" maxlength="10">
                    <button id="btn_VMIQuery_ASNReport_SBU_VDN_Query" class="tdQueryButton"></button>
                </td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight">ASN Date(FM):</td>
                <td>
                    <input type="text" name="Date" id="dpASNDate_FM" class="tdQueryTextBox" />
                </td>
                <td class="tdTitleAlignRight" width="110px">ASN Date(TO):</td>
                <td>
                    <input type="text" name="Date" id="dpASNDate_TO" class="tdQueryTextBox" />
                </td>
            </tr>
            <tr>
                <td class="tdTitleAlignRight">Status:</td>
                <td>
                    <select id="dropbox_VMIQuery_ASNReport_Status" class="tdQueryTextBox">
                        <option value="N">New</option>
                        <option value="I">In-Process</option>
                        <option value="E">Error</option>
                        <option value="T">To Do All</option>
                        <option value="R">Release</option>
                        <option value="O">Open ASN</option>
                        <option value="G">Close</option>
                        <option value="A">All</option>
                    </select>
                </td>
                <td class="tdTitleAlignRight">Trade Type:</td>
                <td>
                    <select id="dropbox_VMIQuery_ASNReport_TradeType" class="tdQueryTextBox">
                        <option value="">-- Select --</option>
                        <option value="I">I:Import</option>
                        <option value="P">P:Transfer</option>
                        <option value="A">A:Local</option>
                        <option value="O">O:Opto</option>
                        <option value="B">B:Taxed</option>
                        <option value="C">C:Concentrate</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    </div>

    <div>
        <table id="VMI_Query_ASNReport_gridDataList"></table>
        <div id="VMI_Query_ASNReport_gridListPager"></div>
    </div>
