@Scripts.Render("~/bundles/SQMBasic/SQEQuality")

@*@RenderPage("SQEQuality/dialogSQMQuality.cshtml")*@
@RenderPage("SQEQuality/Insp/SQMQualityInsp.cshtml")
@RenderPage("SQEQuality/File/SQMQualityFile.cshtml")
<div id="quality">
    @*<div id="tbMain1" class="ui-widget-header ui-corner-all" style="width:570px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
        <button id="btnSearch"></button>
        <button id="btnCreate"></button>
        <button id="btnViewEdit"></button>
        <button id="btnDelete"></button>
    </div>*@

    <div>
        <table>
            <tr>
                <td>報告單號:</td>
                <td>
                    <input type="text" id="txtFilterText" value="" />
                </td>
                <td class="FieldLabel" id="lblReportType">報告類型:</td>
                <td>
                    <select id="ddlReportTypeSearch" style="width: 204px; display: inline-block;"></select>
                </td>
                <td>
                    <button id="btnSearch"></button>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-left:5px">
        <table id="gridDataList"></table>
        <div id="gridListPager"></div>
    </div>
</div>