@Scripts.Render("~/bundles/SQMBasic/SQMPVL")

@Styles.Render("~/bundles/SQMBasic/Basicinfo/css")

@RenderPage("SQMPVL/dialogPVL.cshtml")
<div id="tbQueryDemand">
    <div style="width:702px;padding:3px 0;">
        <table style="width:700px;">
            <tr>
                <td class="FieldLabel">調查表種類:</td>
                <td><select id="ddlVendorType" style="width:150px;" value=""></select></td>

                <td class="FieldLabel">產品類別:</td>
                <td>
                    <select id="ddlCategory" style="width:150px;" value=""></select>
                </td>

                <td class="FieldLabel">調查表子類別:</td>
                <td>
                    <select id="ddlCategorySub" style="width:150px;"></select>
                </td>
            <tr></tr>
        </table>
    </div>
</div>
<div>
    <button id="btnSearch"></button>
    <button id="btnSubmit"></button>
    @*<button id="btnNSubmit"></button>*@
</div>
<div>
    <table id="gridPVL"></table>
    <div id="gridPVLListPager"></div>
</div>