
@Scripts.Render("~/bundles/VMIConfigration/GroupMgmt")

@RenderPage("GroupMgmt/dialogGroupName.cshtml")

<div id="tbMain1" class="ui-widget-header ui-corner-all" style="width:435px; padding:3px 15px 3px 15px; font-size:10.5px;">
    <button id="btnAdd"></button>
    <button id="btnEdit"></button>
    <button id="btnDelete"></button>
    <button id="btnMoveUp"></button>
    <button id="btnMoveDown"></button>
</div>

<div>
    <table id="gridDeptList"></table>
    <div id="gridDeptPager"></div>
</div>