@Scripts.Render("~/bundles/VMIShare")
@Scripts.Render("~/bundles/VMIConfigration/PlantCustomsBrokerInfo")

@RenderPage("~/Views/VMIConfigration/PlantCustomsBrokerInfo/dialogPlantCustomsBrokerInfo.cshtml")

<div id="tbPlantCustomsBrokerInfo">
    <table class="ui-widget-header ui-corner-all" style="width:726px; padding:3px 15px 3px 15px; font-size:10.5px;">
        <tr>
            <td colspan="4">
                <button id="btnNewPlantCustomsBrokerInfo"></button>
                <button id="btnQueryPlantCustomsBrokerInfo"></button>
            </td>
        </tr>
    </table>
    <div style="width:725px;padding:3px 0; border-right: 1px solid #aaaaaa;">
        <table style="width:535px;">
            <tr>
                <td class="tdTitleAlignRight" style="width: 46px;">Plant:</td>
                <td>
                    <input type="text" id="txtPlant" class="tdQueryTextBox" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <table id="gridPlantCustomsBrokerInfo"></table>
    <div id="gridPlantCustomsBrokerInfoPager"></div>
</div>