<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lib_SQM_Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lib_SQM_Domain.Properties.Settings>
            <setting name="Lib_SQM_Domain_icm045_CMSHandler" serializeAs="String">
                <value>http://icm045/CMSHandler/CMSHandler.asmx</value>
            </setting>
            <setting name="Lib_SQM_Domain_dev281_SQM_AccountService" serializeAs="String">
                <value>https://vmitraining.liteon.com/LiteOnSupplierWSService/SQM_AccountService.asmx</value>
            </setting>
            <setting name="Lib_SQM_Domain_icm131_2_SQM_AccountService" serializeAs="String">
                <value>http://icm131/LiteOnSupplierWSService/SQM_AccountService.asmx</value>
            </setting>
        </Lib_SQM_Domain.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>