<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <!-- ServerIP: SIC Server, PRD: icm040, DEV: dev038-->
    <add key="ServerIP" value="dev038" />
    <!-- ServerPort: SIC Production Server Port-->
    <add key="ServerPort" value="8088" />
  </appSettings>
</configuration>