
@Scripts.Render("~/bundles/SQMBasic/SQMCustomers2")

@RenderPage("SQMCustomers2Dialog.cshtml")

<div id="SQMCustomers2Main1" class="ui-widget-header ui-corner-all" style="width:570px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
    <button id="btnCustomers2Search"></button>
    <button id="btnCustomers2Create"></button>
    <button id="btnCustomers2ViewEdit"></button>
    <button id="btnCustomers2Delete"></button>
</div>
<div>
    <table id="SQMCustomers2gridDataList"></table>
    <div id="SQMCustomers2gridListPager"></div>
</div>

