<div id="SQMCustomers2dialogData" title="Portal Member" class="JQDialog" style="display:none;">
    <div id="SQMCustomers2dialogDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btnSQMCustomers2dialogEditData"></button>
        <button id="btnSQMCustomers2dialogCancelEdit"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel">前3大OEM客戶:</td>
            <td>
                <input type="text" id="txtOEMCustomerName" class="DiaText" maxlength="40" readonly="readonly" />
            </td>
        </tr>

        <tr>
            <td class="FieldLabel">交易产品名称或类别:</td>
            <td>
                <input type="text" id="txtBusinessCategory" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">占營業份額百分比%:</td>
            <td>
                <input type="text" id="txtRevenuePer" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="SQMCustomers2lblDiaErrMsg"></span>
            </td>
        </tr>
    </table>
</div>
