@Scripts.Render("~/bundles/SQECPK/SQECPK")

@RenderPage("dialogSQECPK.cshtml")

<div id="tbMain1" class="ui-widget-header ui-corner-all" style="width:570px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">
    <button id="btnSearch"></button>
    <button id="btnCreate"></button>
    <button id="btnViewEdit"></button>
    <button id="btnDelete"></button>
</div>

<div>
    <table>
        <tr>
            <td>測量項目:</td>
            <td>
                <input type="text" id="txtFilterText" value="" />
            </td>
        </tr>
    </table>
</div>

<div style="margin-left:5px">
    <table id="gridDataList"></table>
    <div id="gridListPager"></div>
</div>
