<div id="ReliInfo">
    <div id="ReliInfotbMain1" class="ui-widget-header ui-corner-all" style="width:570px; padding:3px 15px 3px 15px; font-size:10.5px; display:none;">

        <button id="btnBack"></button>
        @*<button id="btnReliInfoCreate"></button>*@
        @*<button id="btnReliInfoViewEdit"></button>*@
        @*<button id="btnReliabilityViewEdit"></button>*@
        @*<button id="btnReliInfoDelete"></button>*@
        @*<button id="btnUploadInfo"></button>*@
        @*<button id="btnCreatReliInfo"></button>*@
        @*<button id="btnShowReliInfo"></button>*@
    </div>

    <table id="SearchReliInfo" style="width:500px; padding:3px 15px 3px 15px; font-size:12px;border-right: 1px solid #aaaaaa;border-left: 1px solid #aaaaaa;">
        <tr>
            <td>
                <span>可靠度性實驗項目：</span>
                <input type="text" id="txtFilterText" value="" />
                <button id="btnReliInfoSearch"></button>
            </td>
        </tr>
    </table>

    <div>
        <table id="ReliInfogridDataList"></table>
        <div id="ReliInfogridListPager"></div>
    </div>

</div>

