<div id="ReliabilityHistoryDialogData"  title="Portal Member" class="JQDialog" style="display:none;">

    <div>
        <table id="ReliabilityHistorygridDataList"></table>
        <div id="ReliabilityFilegridListPager"></div>
    </div>


</div>
