<div id="MapdialogData" title="Portal Member" class="JQDialog" style="display:none;">
    <div id="MapdialogDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btnMapdialogEditData"></button>
        <button id="btnMapdialogCancelEdit"></button>
    </div>
    <table>
      
        <tr>
            <td class="FieldLabel">評鑒表名称:</td>
            <td>
                <input type="text" id="txtCriticmName" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr id="MapErrorMsg">
            <td class="ErrorMsg" colspan="2">
                <span id="lblMapDiaErrMsg"></span>
            </td>
        </tr>
    </table>
</div>