<div id="dialogData" title="Portal Member" class="JQDialog" style="display:none;">
    <div id="dialogDataToolBar" class="ui-widget-header ui-corner-all dialogSTDToolBar">
        <button id="btndialogEditData"></button>
        <button id="btndialogCancelEdit"></button>
    </div>
    <table>
        <tr>
            <td class="FieldLabel">料號:</td>
            <td colspan="3">
                <select id="ddlLitNo" style="width:204px;"></select>

            </td>
        </tr>
        <tr>
            <td class="FieldLabel">規格描述1:</td>
            <td>
                <input type="text" id="txtStandard1" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">規格描述2:</td>
            <td>
                <input type="text" id="txtStandard2" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">材料類別:</td>
            <td>
                <input type="text" id="txtType" class="DiaText" maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">抽樣計畫:</td>
            <td>
                <select id="ddlTB_SQM_AQL_PLANT_SID" style="width:204px;"></select>
            </td>
        </tr>
        <tr>
            <td class="ErrorMsg" colspan="2">
                <span id="lblDiaErrMsg"></span>
            </td>
        </tr>
    </table>
</div>