<div id="dialogUploadOpenPOConfirmationSummary" title="Upload Open PO Confirmation Result" class="JQDialog" style="display:none">
    <table class="defaultTable">
        <tr>
            <td class="tdTitleAlignRight" nowrap>Result:</td>
            <td><span id="result" class="tdTitleAlignLeft"></span></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight" nowrap>Message:</td>
            <td><div id="message"></div></td>
        </tr>
        <tr>
            <td class="tdTitleAlignRight" nowrap>Error Log File Download:</td>
            <td id="tdErrorFileDownload"></td>
        </tr>
    </table>
</div>