<div id="dialogFunctionRoles" title="" class="JQDialog" style="display:none;">
    <div>
        <table id="gridFunctionRoleList"></table>
        <div id="gridFunctionRoleListPager"></div>
    </div>
</div>