<div id="dialogUploadVDSSummary" title="Upload Demand/Supply Result" class="JQDialog" style="display:none">
    <table class="defaultTable">
        <tr>
            <td colspan="4" style="text-align: center" id="result"></td>
        </tr>
        <tr>
            <td style="width: 25%; background: lightgray; text-align:center;">Daily</td>
            <td style="width: 25%; background: lightgray; text-align:center;">Weekly</td>
            <td style="width: 25%; background: lightgray; text-align:center;">Monthly</td>
            <td style="width: 25%; background: lightgray; text-align:center;">Daily+Weekly+Monthly</td>
        </tr>
        <tr>
            <td id="tdDailyLines">
                <p>Total Lines:0</p>
                <p>Correct Lines:0</p>
                <p>Error Lines:0</p>
            </td>
            <td id="tdWeeklyLines">
                <p>Total Lines:0</p>
                <p>Correct Lines:0</p>
                <p>Error Lines:0</p>
            </td>
            <td id="tdMonthlyLines">
                <p>Total Lines:0</p>
                <p>Correct Lines:0</p>
                <p>Error Lines:0</p>
            </td>
            <td id="tdDWMLines">
                <p>Total Lines:0</p>
                <p>Correct Lines:0</p>
                <p>Error Lines:0</p>
            </td>
        </tr>
        <tr>
            <td>Error Log File Download:</td>
            <td colspan="3" id="tdErrorFileDownload"></td>
        </tr>
    </table>
</div>