<div id="dialog_VMIProcess_ToDoVDSManage" title="To Do Demand/Supply" class="JQDialog" style="display:none">
    <div id="dialog_VMIProcess_ToDoVDSManage_tbTopToolBar" class="ui-widget-header ui-corner-all" style="width:99%; padding: 3px; display: none">
        <!-- top tool bar -->
        <button id="btnVDSCommit"></button>
        <button id="btnVDSCommitAll"></button>
        <button id="btnExportAll"></button>
        <button id="btnExportVDS"></button>
    </div>
    <div id="ToDoVDSManageTabs">
        <ul>
            <li><a href="#tabsDaily">Daily</a></li>
            <li><a href="#tabsWeekly">Weekly</a></li>
            <li><a href="#tabsMonthly">Monthly</a></li>
            <li><a href="#tabsDWM">D+W+M</a></li>
            <li><a href="#tabsOpenPO">Open PO</a></li>
            <li><a href="#tabsInventory">Inventory</a></li>
        </ul>
        <div id="tabsDaily">
            <div></div>
            <div><table id="listDaily"></table><div id="pagerDaily"></div></div>
        </div>
        <div id="tabsWeekly">
            <div></div>
            <div><table id="listWeekly"></table><div id="pagerWeekly"></div></div>
        </div>
        <div id="tabsMonthly">
            <div></div>
            <div><table id="listMonthly"></table><div id="pagerMonthly"></div></div>
        </div>
        <div id="tabsDWM">
            <div></div>
            <div><table id="listDWM"></table><div id="pagerDWM"></div></div>
        </div>
        <div id="tabsOpenPO">
            <div></div>
            <div><table id="listOpenPO"></table><div id="pagerOpenPO"></div></div>
        </div>
        <div id="tabsInventory">
            <div></div>
            <div><table id="listInventory"></table><div id="pagerInventory"></div></div>
        </div>
    </div>
</div>